* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background: #f5f5f5;
}

span {
    color: red;
    font-weight: bold;

}
.container {
  width: 700px;
  margin: 50px auto;
}

h1 {
  font-size: 48px;
  font-style: italic;
}
p {
  color: #aaa;
}
.field {
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;

}

.field input {
  width: 100%;
  height: 60px;
  padding-left: 80px;
  font-size: 18px;
  border:none;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

}


.field textarea {
  width: 100%;
  height: 180px;
  padding: 20px 20px 20px 80px;
  border: none;
  outline: none;
  resize: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  font-size: 18px;
}

.field i.fa-user,
.field i.fa-envelope,
.field i.fa-phone,
.field i.fa-book {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.field i.fa-comment
{
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.star {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #aaa;
}

.arrow {
  position: absolute;
  right: 20px;
  top: 18px;
  color: #aaa;
}

.arrow_down {
  position: absolute;
 right: 20px;
  top: 32px;
  color: #aaa;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.checkbox {
  position: relative;
  padding-left: 35px;
  color: #aaa;
  cursor: pointer;
}

.checkbox input {
  display: none;
}

.checkmark {
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #ccc;
}

.checkbox input:checked + .checkmark::after {
  content: "✓";
  position: absolute;
  left: 3px;
  top: -2px;
  font-size: 20px;
  color: black;
}
button {
  background: #f44336;
  color: white;
  border: none;
  padding: 15px 45px;
  font-size: 18px;
  cursor: pointer;
}

.tip {
  position: absolute;
  top: -55px;
  left: 60px;
  background: #333;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  white-space: nowrap;
  display: none;
}

.field:hover .tip{
  display: block;
}