.box {
    width: 200px;
    height: 200px;
    background: red;
    /* border-radius: 10px 50px  100px 200px; */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; */
    border-radius: 50%;
}

.btn {
    border: 0;
    background: green;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 99px;
    cursor: pointer;
}

.btn:focus {
    background: red;
}
.btn-large {
    height: 60px;
    border-radius: 50%;
}