/*
SELECTOR cùng cấp (Cùng trong 1 thẻ html)
selector1selector2selector n
==> lưu ý: Không cần quan tâm đến thứ tự (Trừ
 trường hợp sử dụng tag name phải ở đầu)

 a.link#link ---> Chọn thẻ a  có class = link và id = link

 Ứng dụng:
 -Trong các tình huống o thể sửa html
-Đẩy độ ưu tiên lên cao hơn
 */
/* h1.title {
    color: red;
}
h2.title{
    color: green;
} */
 /* 
 Selector nằm sau: ~
  */
/* ul ~ p {
    color : red;
  }
ul ~ div p {
    color: green;
} */
/* .todos input:checked ~ span{
    text-decoration: line-through;
} */
 /* 
 
 Selector nằm sau liền kề : + */
/* h2 + h2 {
    color:  red;
} */
/* 
selector gộp: 
Nhiều selector sử dụng chung 1 block code
 */
 p + h2 ,
 p + h2 + h2{
    color: red;
 }