/* 
Thành phần giả
Cú pháp: selector::pseudo-element {

}

::before
::after
::first-letter
::first-line
::selection
::placeholder
 */

 /* h1::before {
    content: "a";
 }

  h1::after {
    content: "b";
 } */

/* .title::before {
    content: attr(data-index);
} */

p::first-line{
    color: red;
}

p::first-letter{
    color: green;
    font-weight:bold ;
    font-size: 2rem;
}

p::selection {
    background: black;
    color: white;
}

input::placeholder {
    color: red;
    font-weight: bold;
    font-style: italic;
}