*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background:white;
}
.container {
      background: #2f3e4e;
      color: #fff;
      padding: 30px; 
      border-radius: 10px;
      width: 900px;
}
h2 {
   margin: 0 0 10px;
    color: white;
}
.highlight {
    color: orange;
}
p {
    display: flex;
    margin-bottom: 20px;
      color: #ddd;
}

.form input{
    padding: 9px;
    width: 200px;
}

.form button {
    padding: 9px;
    width: 180px;
}


.form input:hover {
    background:#ddd ;
}

.form input:hover::placeholder{
    color: orange;
}

.form button {
    background: yellow;
    color: black;
}

.form button:hover{
    background: orange;
    color: white;
}