body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.quote-box {
     position: relative;
  width: 700px;
}

blockquote {
    font-style: italic;
     font-size: 18px;
     line-height: 1.8;
    color: #333;
}
.quote-box::before {
  content: "“";
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}
.quote-box::after {
  content: "”";
  position:absolute;
  bottom: 3;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}