/* 
background-color
background-image
background-repeat
background-position
background-size
background-attachment
background
*/

body {
    height: 2000px;
}
.box {
    height: 300px;
    /* background-color: rgba(215, 240, 250, 0.804);
    background-image:url("https://picsum.photos/536/354");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment:fixed; */
    background: rgba(215, 240, 250, 0.804) url("https://picsum.photos/536/354")
    no-repeat 0 0 / cover fixed;
}
