* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {

  background: #fff;
  min-height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}

/* Khung form */
.container {
  width: 90%;
  max-width: 900px;
  background: #b9b4b4;
  padding: 30px;
  border-radius: 6px;
}

/* Tiêu đề */
.container h2 {
  margin-bottom: 10px;
  font-size: 36px;
}

/* Đoạn mô tả */
.container p {
  line-height: 1.5;
  margin-bottom: 25px;
}

/* Khu vực input */
.user-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Mỗi ô input (2 cột) */
.user-detail .input-box {
  width: calc(50% - 10px);
}

/* Label */
.input-box label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

/* Input & select */
.input-box input,
.input-box select {
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Button */
button {
  margin-top: 25px;
  width: 100%;
  height: 55px;
  background: #4caf50;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #43a047;
}
