* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  justify-content: center;
  margin-top: 40px;
}

.calculator {
  width: 420px;
  border: 3px solid #1b1f4b;
}

.display {
  height: 100px;
  border-bottom: 3px solid #1b1f4b;
  padding: 20px;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  height: 120px;
  font-size: 48px;
  border: 2px solid #1b1f4b;
  background-color: #dbe4f1;
  cursor: pointer;
}

button:hover {
  background-color: #cbd6e8;
}

.operator {
  font-weight: bold;
}
