* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
            width: 420px;
            border: 1px solid #999;
            padding: 20px;
        }

.input-box{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
label {
            width: 130px;
        }
input[type="text"],
input[type="password"],
select {
            width: 220px;
            padding: 4px;
        }
.options {
            margin-left: 10px;
        }
.buttons {
            margin-left: 130px;
            margin-top: 15px;
        }
 button {
            padding: 4px 10px;
            margin-right: 20px;
        }