*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    background:  #d9d9d9;
    width: 700px;
    padding: 10px;
    height: 400px;
}
h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.input-box{
   margin-bottom: 15px;
}
.input-box input {
    width: 180px;
     padding: 6px; 
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #aaa;
}
.input-box textarea{
    width: 550px;
    height: 150px;
}
button{
     background: #666;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer; 
}
