/* 
Thuộc tính line-height: Thiết lập chiều cao của dòng chữ
Cú pháp: line-height: value + unit or value

Thuộc tính font-family: Thiết lập font chữ cho văn bản
Cú pháp : font-family :font1,font2,font3,...
*/

/* .content {
    font-size: 20px;
    line-height: 1.5;
} */

@font-face {
    font-family: OpenSans;
    src: url(../font//OpenSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: OpenSans;
    src: url(../font//OpenSans-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: OpenSans;
    src: url(../font//OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: OpenSans;
    src: url(../font//OpenSans-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: OpenSans;
    src: url(../font//OpenSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: OpenSans;
    src: url(../font//OpenSans-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: OpenSans;
    src: url(../font//OpenSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: OpenSans;
    src: url(../font//OpenSans-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
body {
    font-family: OpenSans, sans-serif;
    font-weight: 700;
    font-style: italic;
}