/* 
1.text-decoration: none | underline | overline| line-through
2.text-transform : none | uppercase | lowercase | capitalize
3. letter-spacing
4. word-spacing
5. text-indent
*/
p {
    /* text-decoration:overline underline line-through ; */
    /* text-transform: uppercase; */
    /* letter-spacing: 5px; */
    /* word-spacing: 5px; */
    /* text-indent: 10px; */
    /* word-wrap: break-word; */
    word-break: break-all;
   
}
.content{
    text-align: justify;
}
.wrap-span {
    text-align: center;
}

.img {
    text-align: center;
}