 /* p {
        color: red;
      }

h2 {
    color: yellow;
    background: green;
} */
/* #title{
    color: red;
}
.title{
    color: green;
}
h3 {
    color: blue;
} */
 /* * {
    color: red;
 } */

.box > .title {
    color: blue;

}
/* .menu > ul > a {
    color: red;
} */
 .menu a{
    color: red;
 }