.container {
    background-image: url(https://i.ytimg.com/vi/x0fSBAgBrOQ/maxresdefault.jpg);
    width: 1250px;
    height: 550px;
     
}
.card {
  width: 400px;
  height: 190px;
  background: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
 position: absolute;
  top: 25%;
  left: 65%;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

}

h3 {
    font-weight: bold;
    
}

span {
    text-decoration: underline;
}
