* {
  font-family: Arial, Helvetica, sans-serif;
}
input {
  display: none;
}

label {
  display: block;
  align-items: center;
  background: #c84107;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0;
}


.content {
  display: none;
  padding: 12px 14px;
}

.icon {
  font-size: 20px;
  width: 20px;
}
.icon::before {
  content: "+";
}

input:checked ~ .content {
  display: block;
}
input:checked + label .icon::before {
  content: "-";
}
